* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

.wrap {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
}

.yellow {
	background-color: #ffc803;
	width: 100%;
	height: 250px;
}

.black-white {
	display: flex;
}

.white {
	background-color: #eef2f1;
	width: 100%;
	height: 250px;
}

.black {
	background-color: #28282a;
	width: 100%;
	height: 250px;
}
